@charset "UTF-8";

@font-face {
  font-family: Monst;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Monst;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none !important;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Monst";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Monst";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #333;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.overlay {
  position: absolute;
  width: 100%;
  height: 33.33vh;
  left: 0%;
  z-index: 200;
  background: #BD1F3A;
}

.first {
  top: 0;
}

.second {
  top: 33.3%;
}

.third {
  top: 66.6%;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero__body {
  position: absolute;
  top: 2vh;
  left: 2vw;
}

@supports (font-size: clamp( 1.125rem , 0.6704545455rem  +  2.2727272727vw , 2.375rem )) {
  .hero__name {
    font-size: clamp( 1.125rem , 0.6704545455rem  +  2.2727272727vw , 2.375rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.6704545455rem  +  2.2727272727vw , 2.375rem )) {
  .hero__name {
    font-size: calc(1.125rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.hero__name:not(:last-child) {
  margin-bottom: 0.2631578947em;
}

.hero__name span {
  display: block;
}

.hero__job {
  line-height: 1.2;
}

@supports (font-size: clamp( 0.875rem , 0.5568181818rem  +  1.5909090909vw , 1.75rem )) {
  .hero__job {
    font-size: clamp( 0.875rem , 0.5568181818rem  +  1.5909090909vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.5568181818rem  +  1.5909090909vw , 1.75rem )) {
  .hero__job {
    font-size: calc(0.875rem + 0.875 * (100vw - 20rem) / 55);
  }
}

.hero__slider {
  position: relative;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.hero__wrapper {
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.hero__contact {
  position: absolute;
  bottom: 3vh;
  left: 2vw;
}

@supports (font-size: clamp( 1rem , 0.7272727273rem  +  1.3636363636vw , 1.75rem )) {
  .hero__contact h2 {
    font-size: clamp( 1rem , 0.7272727273rem  +  1.3636363636vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.7272727273rem  +  1.3636363636vw , 1.75rem )) {
  .hero__contact h2 {
    font-size: calc(1rem + 0.75 * (100vw - 20rem) / 55);
  }
}

.hero__contact h2:not(:last-child) {
  margin-bottom: 0.4736842105em;
}

@supports (font-size: clamp( 0.75rem , 0.5681818182rem  +  0.9090909091vw , 1.25rem )) {
  .hero__contact p {
    font-size: clamp( 0.75rem , 0.5681818182rem  +  0.9090909091vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.5681818182rem  +  0.9090909091vw , 1.25rem )) {
  .hero__contact p {
    font-size: calc(0.75rem + 0.5 * (100vw - 20rem) / 55);
  }
}

.hero__contact p:not(:last-child) {
  margin-bottom: 0.4em;
}

.slider-hero__portfolio {
  white-space: nowrap;
  text-transform: uppercase;
  text-align: center;
}

@supports (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .slider-hero__portfolio {
    font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.7954545455rem  +  2.2727272727vw , 2.5rem )) {
  .slider-hero__portfolio {
    font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 55);
  }
}

.slider-hero__portfolio:not(:last-child) {
  margin-bottom: 1em;
}

.swiper-slide {
  position: relative;
  width: 50%;
}

.card-body {
  position: absolute;
  top: 50%;
  margin-left: -2.6vw;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 3.125rem;
  pointer-events: none;
}

.card-title {
  position: relative;
  font-weight: 700;
}

@supports (font-size: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .card-title {
    font-size: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .card-title {
    font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.card-title span {
  position: absolute;
  display: inline-block;
  height: 3.125rem;
  text-shadow: 1px 1px 1px #000;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.mouse {
  position: fixed;
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  z-index: 100;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.mouse::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 100%;
  background: #BD1F3A;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.links-visible::after {
  border: 4px solid #BD1F3A;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
      -ms-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  background-color: transparent;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 79.25em) {
  .swiper-slide {
    width: 60%;
  }
}

@media (max-width: 61.99875em) {
  .swiper-slide {
    width: 65%;
  }

  .mouse {
    display: none;
  }

  *,
  *::after,
  *::before {
    cursor: auto !important;
  }
}

@media (max-width: 35.9375em) {
  .slider-hero__body {
    padding-left: 5vw;
  }
}

@media (max-height: 29.99875em) {
  .slider-hero__portfolio {
    font-size: 1.25rem !important;
  }
}

@media (any-hover: hover) {
  .card-image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}